{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
<form method="post" class="form-group">
    {% csrf_token %}
    <div class="row">
        <div class="col-5">
            {{ form.username|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            {{ form.password|as_crispy_field }}
        </div>
    </div>
    <p>Don't have an account? Create one <a href="{% url "shop-register" %}">here</a></p>
    <button type="submit" name="create" class="btn btn-success">Login</button>
</form>
{% endblock content %}