{% load auth_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>
    <div class="sidenav">
        <a href="{% url "shop-home" %}">Home</a>
        {% if user.is_authenticated %}
            {% if user|has_group:"admin" %}
                <a href="/admin/">Admin page</a>
                <a href="{% url "shop-create" %}">Create</a>
                <a href="{% url "shop-edit" %}">Edit</a>
            {% elif user|has_group:"moderator" %}
                <a href="{% url "shop-edit" %}">Edit</a>
            {% endif %}
            <a href="{% url "shop-my-account" %}">Account</a>
            <a href="{% url "logout" %}">Logout</a>
        {% else %}
            <a href="{% url "login" %}">Login</a>
            <a href="{% url "shop-register" %}">Register</a>
        {% endif %}
    </div>

    <div class="categories">
        <h2>Categories</h2>
        {% for category in categories %}
            <a href="/items/{{ category.0 }}">{{ category.1 }}</a>
        {% endfor %}
    </div>

    <div id="content" class="main">
        <div class="d-flex justify-content-center">
            <div class="col-8">
                <h1 class="mt-2">BP Shop</h1>
                <hr class="mt-0 mb-4">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}
                {% endblock content%}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity=
            "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity=
            "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity=
            "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>