{% extends "shop/base.html" %}
{% block title %}
    Account
{% endblock title %}

{% block content %}
        <div class="row">
            <div class="align_text">
                <span id="span-h1">Username: </span>
                <span id="span-h3">{{ user.username }}</span>
            </div>
        </div>

        <div class="row">
            <div class="align_text">
                <span id="span-h1">Email: </span>
                <span id="span-h3">{{ user.email }}</span>
            </div>
        </div>

        <div class="row">
            <div class="align_text">
                <span id="span-h1">Groups: </span>
                {% for group in user.groups.all %}
                    <span id="span-h3">{{ group }}</span>
                {% endfor %}
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <div class="row">
                <div class="align_text">
                    <span id="span-small-font">Date join: </span>
                    <span id="span-small-font">{{ user.date_joined }}</span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <a class="btn btn-primary" href="{% url "shop-user-basket" %}">Basket</a>
        </div>
{% endblock content %}