{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Purchase
{% endblock title %}

{% block content %}
<form method="post" class="form-group">
    {% csrf_token %}
    <div class="row">
        <div class="col-4">
            {{ form.card_number|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            {{ form.first_name|as_crispy_field }}
        </div>
        <div class="col-4">
            {{ form.last_name|as_crispy_field }}
        </div>
    </div>
    <button type="submit" name="create" class="btn btn-success">Buy</button>
    <a href="{% url "shop-user-basket" %}" class="btn btn-danger">Back</a>
</form>
{% endblock content %}