{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {{ item.name }}
{% endblock title %}

{% block content %}
    <div class="show_item">
        <img src="/media/{{ item.image }}" alt="{{ item.name }}" class="img-thumbnail">
        <h1>{{ item.name }}</h1>
        <h3>{{ item.category }}</h3>
        <h3>{{ item.description}}</h3>
        <h4>{{ item.price }}</h4><br>
        <div class="d-flex justify-content-end">
            <a class="btn btn-primary" href="{% url "shop-add-item-to-basket" item.id %}">Add to basket</a>
        </div>
    </div>

{% endblock content %}